{%extends 'base.html'%} {%block title%} World Map |{%endblock title%}
<link
  href="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css"
  rel="stylesheet"
/>
<link href="/static/1css/dark.css" rel="stylesheet" />

{%block body%}

<div class="flexbox">
  <div id="map" style="width: 100vw; height: 100vh"></div>
  {% comment %} <div id="chartdiv"></div> {% endcomment %}
  <div id="list"  >
    {% comment %} <table id="areas" class="compact hover order-column row-border">
      <thead>
        <tr>
          <th>Country/State</th>
          <th>Confirmed</th>
          <th>Deaths</th>
          <th>Recovered</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table> {% endcomment %}
    {% comment %} <div class="container-fluid table-responsive my-4"> {% endcomment %}
      {% comment %} <h3 class="text-center text-uppercase"> Covid-19 Live Tracker World</h3> {% endcomment %}
      <table class="compact hover order-column row-border" id="tbval">
        <tr>
          <th>Country</th>
          <th>Total Confirmed</th>
          <th>Total Recovered</th>
          <th>Total Deaths</th>
          <th>New Recovered</th>
          <th>New Deaths</th>
        </tr>
      </table>
    {% comment %} </div> {% endcomment %}
  </div>
</div>
<script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function fetch(){
      $.get("https://api.covid19api.com/summary",
      function(data){
        console.log(data['Countries'].length);
        var tbval = document.getElementById('tbval');
        for(var i=1; i<(data['Countries'].length);i++){
            var x =tbval.insertRow();
            x.insertCell(0);
            tbval.rows[i].cells[0].innerHTML = data['Countries'][i-1]['Country'];
            tbval.rows[i].cells[0].style.background = '#7a4a91';
            tbval.rows[i].cells[0].style.color = '#fff';

            x.insertCell(1);
            tbval.rows[i].cells[1].innerHTML = data['Countries'][i-1]['TotalConfirmed'];
            tbval.rows[i].cells[1].style.background = '#7a4a91';
            tbval.rows[i].cells[1].style.color = '#fff';

            x.insertCell(2);
            tbval.rows[i].cells[2].innerHTML = data['Countries'][i-1]['TotalRecovered'];
            tbval.rows[i].cells[2].style.background = '#7a4a91';
            tbval.rows[i].cells[2].style.color = '#fff';

            x.insertCell(3);
            tbval.rows[i].cells[3].innerHTML = data['Countries'][i-1]['TotalDeaths'];
            tbval.rows[i].cells[3].style.background = '#7a4a91';
            tbval.rows[i].cells[3].style.color = '#fff';

            x.insertCell(4);
            tbval.rows[i].cells[4].innerHTML = data['Countries'][i-1]['NewRecovered'];
            tbval.rows[i].cells[4].style.background = '#7a4a91';
            tbval.rows[i].cells[4].style.color = '#fff';

            x.insertCell(5);
            tbval.rows[i].cells[5].innerHTML = data['Countries'][i-1]['NewDeaths'];
            tbval.rows[i].cells[5].style.background = '#7a4a91';
            tbval.rows[i].cells[5].style.color = '#fff';

        }
      }
      );
    }
</script>
<script src="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js"></script>
<script>
  mapboxgl.accessToken =
    "pk.eyJ1IjoiaGFycnkxMjM0OTgiLCJhIjoiY2s4OXh1c3BqMGFsZzNvbXA3YmYyaGFhYSJ9.wmVMiMxlSqpzJPsj-UXr3Q";
  var map = new mapboxgl.Map({
    container: "map",
    style: "mapbox://styles/mapbox/dark-v10",
    zoom: 1,
    center: [0, 20],
  });
</script>
<script>
var buttonsAndChartContainer = container.createChild(am4core.Container);
  buttonsAndChartContainer.layout = "vertical";
  buttonsAndChartContainer.height = am4core.percent(45);
  buttonsAndChartContainer.width = am4core.percent(100);
  buttonsAndChartContainer.valign = "bottom";

</script>
<script src="/static/js/index.js"></script>


{%endblock body%}
